<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlj.mybatis.IUserMapper">
    <insert id="insertUser" parameterType="com.xlj.mybatis.User">
        insert into user(name, age, sex) values(#{name}, #{age}, #{sex})
    </insert>

    <select id="getUser"
            parameterType="java.lang.Integer"
            resultType="com.xlj.mybatis.User">
        select id, name from user where id = #{id}
    </select>

    <select id="getUserByName"
            resultType="com.xlj.mybatis.User">
        select id, name from user where name = #{name}
    </select>

    <select id="getUserByNameAndAge"
            resultType="com.xlj.mybatis.User">
        select id, name from user where name = #{arg0} and age = #{arg1}
    </select>

</mapper>